<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catch The Ball</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/part1.css') }}">
    <script type="module" src="{{ url_for('static', filename='scripts/part1.js') }}" defer></script>
</head>
<body>
    <p id="title">Catch the moving balls</p>
    <canvas id="canvas"></canvas>
    <div id="fact"></div>
    <div id="resultPage">
        <h1>Congratulations!</h1>
        <p>You obtained 2 resources</p>
        <button>Go to the the puzzle</button>
    </div>  
    <script>
        const facts = {{ data|tojson }};
    </script>
</body>
</html>