<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shooter Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/part3.css') }}">
    <script type="module" src="{{ url_for('static', filename='scripts/part3.js') }}" defer></script>
</head>
<body>
<canvas id="canvas"></canvas>
<div id="resultPage">
    <h1>Game Over! But Life is not</h1>
    <p>Life is a thrilling adventure: Learn, Apply and Unlock endless surprises!</p>
    <p>See you later! Keep going forward :)</p>
</div>
</body>